*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    --main-color: #dc4c3f;
    --sec-color: #e4e7ff;
    --brd-color: #e7e7e7;
}
h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
}
.wrapper{
    display: flex;
}
/* --------------------- HEADER DESIGN --------------------- */
header{
    background-color: var(--main-color);
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#headerLogo{
    font-family: 'Material Icons';
    font-style: normal;
    margin-left: 50px;
    font-size: 30px;
    color: var(--sec-color);
}
#headerText{
    color: white;
    font-size: 20px;
}
/* --------------------- SIDEBAR DESIGN --------------------- */
.sidebar{
    min-height: 500px;
    width: 400px;
    border-right: 1px solid var(--brd-color);
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 30px;
    font-size: 17px;
    display: inline-block;
}
#sidebarProjects{
    margin-top: 30px;
    margin-bottom: 5px;
}
#sidebarInbox{
    margin-bottom: 10px;
    cursor: pointer;
}
#sidebarToday{
    margin-bottom: 10px;
    cursor: pointer;
}
#sidebarWeek{
    cursor: pointer;
}
/* --------------------- MAIN DESIGN --------------------- */ 
.main{
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 500px;
    width: 1500px;
    margin-left: 60px;
    
}
#mainHeader{
    margin-top: 30px;
    margin-bottom: 30px;
}
.todo{
    height: 30px;
    width: 1000px;
    border-bottom: 1px solid var(--brd-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
#deleteBtn{
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    cursor: pointer;
}
#addTodoBtn{
    font-size: 20px;
    cursor: pointer;
}
.addTodoForm{
    display: none;
    margin-bottom: 20px;
}
.addTodoInput{
    padding: 8px;
    margin-right: 10px;
}

#priorityInput{
    padding: 7px;
    margin-right: 10px;
}
#enterAddTodoBtn{
    padding: 7px;
}
.todoText{
    cursor: pointer;
}

#deleteLogo{
    display: inline-block;
    cursor: pointer;
    
}
/* expanded todo */

.expandTodo{
    display: none;
}

/* --------------------- Projects --------------------- */ 

#newProjectInput{
    margin-bottom: 7px;
    padding: 5px;
}
#enterAddProject{
    padding: 6px;
}
.newProjectWrapper{
    display: none;
}
#addProjectBtn{
    cursor: pointer;
}
.active{
    display: initial;
}
#projectTitle{
    display: inline-block;
    margin-bottom: 10px;
    cursor: pointer;
}
.projectDiv{
    width: 350px;
    position: relative;
}
#projectsDeleteLogo{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 10px;
}
.projectContainer{
    margin-left: 15px;
}